*

!.gitignore

!LICENSE
!index.html

!css/
css/*
!css/main.css

!img/
img/*
!img/myLogo.svg
!img/github-outline.svg
!img/heart.svg
!img/moon.svg
!img/sun.svg

!fnt/
fnt/*
!fnt/iosevka-fixed-slab-regular.woff2

!js/
js/*
!js/darkmode.js
